.App{
  width: 100%;
  height: 100%;
  --navbarHight: 
  
}

.mainContainer{
  padding: 0 5% 0 5%;
  border: 1px solid black;
}
.MyNavbar {
    position: sticky;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, .4);
    z-index: 1000;
    border-bottom: 1px solid red;
}

.NavLinks{
    float: right;
    font-size: 30px;
}

.logoText{
    font-size: 40px;
    font-weight: 600;
    color: rgb(250, 49, 4);
}

.Njume{
    font-size: 30px;
    font-weight: 400;
    color: rgb(151, 89, 75);
}



.nav-link{
    color: rgb(151, 89, 75);
    font-weight: 400;

}
.nav-link:hover{
    color: rgb(250, 49, 4);

}
.active{
    color: rgb(250, 49, 4);
    font-weight: 600;
}


.t1{
        margin-top: 117px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #97594B;

}
.t2{
        width: 503px;
        height: 635px;
        top: 117px;
        right: 0px;

        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 47px;

        color: #C8C6C5;
}

.t3{
  
 
        width: 503px;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 47px;
        
        
        color: #FE3104;
}
.t3b{
        font-size: 120px;
        font-style: normal;
        font-weight: 800;
        color: #FE3104;
}
.t4{
       
        font-style: normal; 
        font-weight: normal;
        font-size: 48px;
        color: #999999;
}
.t5{
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #999999;
}
.t6{
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        color: #97594B;

    }
.Hnav{
    margin-top: 2%;
    z-index: 100;
    height: 80vh;
    width: 8vw;
    position: fixed;
    margin-left: 5%;
    border: solid 1px;
    border-color: #FE3104;
    background-color: rgba(255, 255, 255, 0);
    padding: auto;
    display: flex;
    justify-content: center;
}


    .ActionBTN{
        width: 150px;
        align-self: center;
        float: center;
    }
    .ActionBTN:hover{
        background-color: #FE3104;
        font-weight: 700;
    }



.footer{
    text-align: left;
    border: 1px solid #FE3104;
    padding-top: 2rem;
}

footer>li{
  font-family: 'Courier New', Courier, monospace;
  
}
.footer2{
    position: sticky;
    position: absolute;
}
text{
  margin-bottom: 0rem;
}

.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
    
  }
  .textBoxSection{
    line-height: 5rem;

  }
  
  .footer-clean>div>div>div>h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:26px;
    color: #FE3104;
  }
  
  .footer-clean div> div> div> ul > li > a{
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

  }
  
  .footer-clean div>div>div>ul{
    list-style: none;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-clean>ul>a:hover {
    opacity: 1;
  }
  
  .footer-clean .item.social {
    text-align: right;
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  @media (max-width:393px) {

    .App{
      width: 100%;
    }
    .image1{
      height: 313px;
      width: 130px;
    }

  .logoText{
    font-size: 25px;
  }

  .Njume{
    font-size: 15px;
  }
    .SectionHome1{
      padding-top: 20%;
      background-color: rgba(0, 255, 255, 0.37);
      display: flex;
      flex-direction: column-reverse;
      
    }
    .t1{
      font-size: 10px;

    }
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
    img{
      width: auto;
      height: auto;
    }
    .MyNavbar{
      width: 100vw;
    }

    .Hnav{
      border: none;
    }
  }
  
  @media (max-width:768px) {

    .App{
      width: 100vw;
      height: 100%;
      padding: 0;
      
    }

    .NavLinks{
      display: none;
    } 
    .footer-clean .item.social {
      text-align:center;
    }
    .SectionHome1{
      padding-top: 30%;
      background-color: rgba(0, 255, 255, 0.37);
      height: 100%;
      
    }
    .Hnav{
      border: none;
    }
  }
  
  @media (max-width:992px) {
  
    .NavLinks{
      display: none;
    } 

    .logo{
      float: left;
    }

    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:1200px) {
 
  
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  