<section>
  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-botanical-gardens.jpg);">
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p>&ldquo;I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.&rdquo;
          <cite>- Maya Angelou</cite>
        </p>
      </div>
    </div>
  </div>
  
  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-library-sm.jpg);">
      &nbsp;
    </div>
    <div class="col col-text col-left">
      <div class="Aligner-item">
        <p>&ldquo;Simple is good.&rdquo;
          <cite>- Jim Henson</cite>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-skylight-sm.jpg);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p>&ldquo;Everybody has a plan until they get punched in the mouth.&rdquo;
          <cite>- Mike Tyson</cite>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-overture.jpg);">
      &nbsp;
    </div>
    <div class="col col-text col-left">
      <div class="Aligner-item">
        <p>&ldquo;We are what we pretend to be, so we must be careful about what we pretend to be&rdquo;
          <cite>- Kurt Vonnegut, Jr.</cite>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-rainbow.jpg);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p>&ldquo;Perfect is the enemy of good.&rdquo;
          <cite> - Voltaire</cite>
        </p>
      </div>
    </div>
  </div>
</section>















<div class="col-lg-5 col-md-5 col-sm-12 image-div">
  {% load static %}
  <img className=" " alt="vector image1"  src="{% static '/assets/img1.png'%}" /> 
</div>
<div class="col-lg-5 col-md-7 col-sm-12 no-shrink textBoxSection center justify-content-center">
  <text class="t1 h1 "> Get the best of poetry Exclusively at poetsite.com<br/></text>
  <div className=" text-sm-center">
    <text className=" text-truncate ">
      <span class="t2">Hi there<br/></span>
      <span class="t3"> NJUME ARTHUR <span class="t4">here<br/></span>
     </span>
      <span class="t5"> your </span>
      <span class="t6">poetryPlug</span>
      </text>
  </div>
   <br/>
   <button type="button" class="ActionBTN btn btn-outline-danger">hire me</button>
</div>

</div>