<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{%  static '/bootstrap/dist/css/bootstrap.min.css'  %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'  %}">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body class="  align-items-center justify-content-center">
    <header>
        {% include "components/header.html" %}
    </header>

    {% include 'section1.html' %}
    {% include 'components/contact us.html' %}

    <footer class="footer-clean container-fluid justify-content-center">
        {% include 'components/footer.html' %}
    </footer>

    {% load static %}
    <script src="{%  static '/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>