{# extends "base.html" #}

{% block content %}
<div className="SectionHome1 justify-content-center Section1 borders-r">
    <div>
    </div>

    
    <div className="SectionHome1">
    <div className=" col-lg-6 col-sm-6 col-md-12 borders-r">
      
    <text class="t1"> Get the best of poetry Exclusively at poetsite.com<br/></text>
            <text className="textBoxSection">
             <span class="t2">Hi there<br/></span>
             <span class="t3"> NJUME ARTHUR </span>
             <span class="t4">here<br/></span>
             <span class="t5"> your </span>
             <span class="t6">poetryPlug</span>
             </text>
             <br/>
             <button type="button" class="ActionBTN btn btn-outline-danger">hire me</button>
</div>
          <div className=" Image-div col-lg-6 col-sm-6 col-md-12 borders-r">
      {% load static %}
      <img className="img-fluid " alt="vector image1"  src="{% static '/assets/img1.png'%}" /> 

    </div>
    
    </div>
  </div>

{% endblock content %}